{% extends 'blog/base.html' %}

{% block content %}
            
            <div class="post">
                <header>
                    <h2>{{ post.title }}</h2>
                    <ul>
                        {% if post.published_date %}
                        <li>{{ post.published_date }}</li>
                        {% endif %}
                        <li>{{ post.author }}</li>
                    </ul>
                </header>
                
                {{ post.text|linebreaks }}         
            </div>
            
{% endblock content %}